.neon-text {
    font-size: 3rem;
    color: rgb(241, 241, 241);
    text-shadow: 0 0 10px rgb(237, 64, 16), 0 0 10px rgb(237, 64, 16), 0 0 10px rgb(237, 64, 16), 0 0 10px rgb(237, 64, 16), 0 0 10px rgb(237, 64, 16), 0 0 50px rgb(237, 64, 16), 0 0 100px rgb(237, 64, 16), 0 0 150px rgb(237, 64, 16);
  }
 